@import "../theme.less";
@import "../default.less";

.Bizon__header {
  padding: 0 100px;
  display: flex;
  position: relative;
}

.Bizon__header img {
  height: 60px;
}

.header__menu {
  line-height: 60px;
  font-size: 16px;
  color: @text-color;
  margin-right: 40px;
  text-decoration: none;
  font-weight: bold;
}

.header__menu:nth-child(2) {
  margin-left: 34px;
}
