.listRoot {
  background-color: #FFFFFF; 
  border-radius: 10px;
  border: 0px solid;
  padding: 40px;
  margin-top: 40px;
}

.subText {
  font-size: 10px;
}

.personTr > td {
  border-bottom: 1px solid blue;
}