
@font-family: 'Roboto Condensed', sans-serif;
@font-size: 16px;

@accent-color: rgb(15, 72, 109);
@accent-opposite-color: #ffffff;

@title-font-size: 5vw;
@subtitle-font-size: 2.5vw;

@accent-border-radius: 3vw;
@accent-padding: 0.4vw 1vw;

@deactive-color: rgb(166, 166, 166);
@background-color: #EBF1EF;
@background-component-color: white;
@selected-text-color: #56B1A6;
@text-color: #475C76;
@link-color: #56B1A6;
